body {
  font-size: 16px;
  background-color: beige;
}
.error {
  color: red;
}

 head {
    font-size: 48px;
    color: teal;
    text-align: center;
    border: 5px solid navy;
}

 h1 {
    font-size: 48px;
    color: teal;
    text-align: center;
    border: 5px solid navy;
}

table {
  font-size: 16px;
  background-color: beige;
}

h2 {
    color: green
    text-decoration: underline;
}