<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<meta charset="UTF-8">
<title>FETTLE TRACKERS</title>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <h1  th:href="@{/styles.css}">FETTLE</h1>
</head>
<body background="/img/bg-signup.jpg" class="container">
<nav class="nav">
    <li><a class="nav-link" href="/profile/tracker/appts">APPOINTMENTS</a></li>
    <li><a class="nav-link" href="/profile/tracker/meds">MEDICATIONS</a></li>
    <li><a class="nav-link" href="/profile/tracker/pain">PAIN TRACKER</a></li>
    <li><a class="nav-link" href="/profile/tracker/food">FOOD TRACKER</a></li>
    <li><a class="nav-link" href="/profile/tracker/mood">MOOD TRACKER</a></li>
    <li><a class="nav-link" href="/profile/tracker/exercise">FITNESS LOG</a></li>
</nav>
<h2 th:text="${title}"></h2>
<nav class="nav">

    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/meds"MEDICATIONS></a> </li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/meds/create">ADD MEDICATION</a> </li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/meds/delete">REMOVE MEDICATION</a> </li>
    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
        <th>Medication</th>
        <th>For</th>
        <th>Dose</th>
        <th>Frequency(hours)</th>
        <th>Last Day Taken</th>
        <th>Last Time Taken</th>
    </tr>
    </thead>
    <tr th:each="medication : ${medications}">
        <td>
            <a th:text="${medication.medName}"></a>
        </td>
        <td>
            <a th:text="${medication.profile.profileFirst}"></a>
        </td>
        <td>
            <a th:text="${medication.medDose}"></a>
        </td>
        <td>
            <a th:text="${medication.frequency}"></a></td>
        <td>
            <a th:text="${medication.date}"></a>
        </td>
        <td>
            <a th:text="${medication.timeTaken}"></a>
        </td>
    </tr>
</table>

<nav>
    <ul class="nav">

        <li class="nav-item"><a class="nav-link-2" href="/profile">PROFILES</a></li>

    </ul>
</nav>
</body>
</html>