<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
    <h1>FETTLE</h1>

</head>
<body>

<nav th:fragment="header">
    <h2 th:text="${title}"></h2>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile">MY PROFILES</a></li>
        <li class="nav-item"><a class="nav-link" href="/create">CREATE PROFILE</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/delete">DELETE PROFILE</a></li>
    </ul>
</nav>

</body>
</html>