<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <meta charset="UTF-8">
    <title>FETTLE TRACKERS</title>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8">
        <h1  th:href="@{/styles.css}">FETTLE</h1>
    </head>
<body background="/img/bg-signup.jpg" class="container">
<nav class="nav">
    <li><a class="nav-link" href="/profile/tracker/appts">APPOINTMENTS</a></li>
    <li><a class="nav-link" href="/profile/tracker/meds">MEDICATIONS</a></li>
    <li><a class="nav-link" href="/profile/tracker/pain">PAIN TRACKER</a></li>
<!--    <li><a class="nav-link" href="/profile/tracker/food">FOOD TRACKER</a></li>-->
<!--    <li><a class="nav-link" href="/profile/tracker/mood">MOOD TRACKER</a></li>-->
<!--    <li><a class="nav-link" href="/profile/tracker/exercise">FITNESS LOG</a></li>-->
</nav>
<h2 th:text="${title}"></h2>
<nav class="nav">

    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts/create">ADD APPOINTMENT</a> </li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts/delete">REMOVE APPOINTMENT</a> </li>
    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
        <th>Appointment</th>
        <th>For</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
    </tr>
    </thead>
    <tr th:each="appointment : ${appointments}">
        <td>
            <a th:text="${appointment.name}"></a>
        </td>
        <td>
            <a th:text="${appointment.profile.profileFirst + appointment.profile.profileLast}"></a>
        </td>
        <td>
            <a th:text="${appointment.date}"></a></td>
        <td>
            <a th:text="${appointment.time.displayName}"></a></td>
        <td>
            <a th:text="${appointment.location}"></a>
        </td>
    </tr>
</table>

<nav>
    <ul class="nav">

        <li class="nav-item"><a class="nav-link-2" href="/profile">PROFILES</a></li>

    </ul>
</nav>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link-3" href="/login">LOGOUT</a></li>
    </ul>
</nav>

</body>
</html>