<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>-->
    <meta charset="UTF-8">
    <title>FETTLE</title>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8">
        <h1  th:href="@{/styles.css}">FETTLE</h1>
    </head>
<body background="/img/bg-signup.jpg" class="container">

<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts">APPOINTMENTS</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/meds">MEDICATIONS</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/pain">PAIN TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/food">FOOD TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/mood">MOOD TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/exercise">FITNESS LOG</a></li>
    </ul>
</nav>

<h2 th:text="${title}"></h2>

<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts">SCHEDULED APPOINTMENTS</a> </li>
<!--        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts/create">ADD APPOINTMENT</a> </li>-->
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts/delete">REMOVE APPOINTMENT</a> </li>
    </ul>
</nav>

<form class="offset-md-1" method="post">
    <div class="form-group">
        <label>DOCTOR
            <input th:field="${appointment.name}" class="form-control">
        </label>
        <p class="error" th:errors="${appointment.name}"></p>
    </div>
    <div class="form-group">
        <label>   TIME
            <input th:field="${appointment.time}" class="form-control">
        </label>
        <p class="error" th:errors="${appointment.time}"></p>
    </div>
    <div class="form-group">
        <label>   DATE
            <input th:field="${appointment.date}" class="form-control">
        </label>
        <p class="error" th:errors="${appointment.date}"></p>
    </div>
    <div class="form-group">
        <label>LOCATION
            <input th:field="${appointment.location}" class="form-control">
        </label>
        <p class="error" th:errors="${appointment.location}"></p>
    </div>
    <div>
        <label>Profile</label>
            <select  class="form-select-sm" th:field="${appointment.profile}">
                <option th:each="profile : ${profiles}"
                        th:value="${profile.id}"
                        th:text="${profile.profileFirst}"
                ></option>
            </select>
<!--            <p class="error" th:errors="${appointment.profile}"></p>-->
<!--        </label>-->
    </div>
    <div class="form-group">
        <input type="submit" value="ADD" class="btn btn-success">
    </div>
</form>

<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link-2" href="/profile">PROFILES</a></li>
    </ul>
</nav>

</body>
</html>