<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>-->
<meta charset="UTF-8">
<title>FETTLE</title>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <h1  th:href="@{/styles.css}">FETTLE</h1>
</head>
<body background="/img/bg-signup.jpg" class="container">

<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/appts">APPOINTMENTS</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/meds">MEDICATIONS</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/pain">PAIN TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/food">FOOD TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/mood">MOOD TRACKER</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/exercise">FITNESS LOG</a></li>
    </ul>
</nav>

<h2 th:text="${title}"></h2>
<nav class="nav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/pain">PAIN MAP</a> </li>
<!--        <li class="nav-item"><a class="nav-link" href="/profile/tracker/pain/add">ADD EPISODE</a> </li>-->
        <li class="nav-item"><a class="nav-link" href="/profile/tracker/pain/remove">DELETE EPISODE</a> </li>
    </ul>
</nav>

<form class="offset-md-1" method="post">
    <div class="form-group">
        <label>Pain Location
            <input th:field="${pain.painLocation}" class="form-control">
        </label>
        <p class="error" th:errors="${pain.painLocation}"></p>
    </div>
    <div class="form-group">
        <label>Pain Severity (1-10)
            <input th:field="${pain.severity}" class="form-control">
        </label>
        <p class="error" th:errors="${pain.severity}"></p>
    </div>
    <div class="form-group">
        <label>Day
            <select class="form-select" th:field="${pain.day}">
                <option th:each="day : ${days}"
                        th:value="${day}"
                        th:text="${day.displayName}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${pain.day}"></p>
    </div>
    <div class="form-group">
        <label>Time
            <select class="form-select" th:field="${pain.time}">
                <option th:each="time : ${times}"
                        th:value="${time}"
                        th:text="${time.displayName}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${pain.time}"></p>
    </div>
    <div class="form-group">
        <label>Person
            <select  class="form-select" th:field="${pain.profile}">
                <option th:each="profile : ${profiles}"
                        th:value="${profile.id}"
                        th:text="${profile.profileFirst}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${pain.painLocation}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="ADD" class="btn btn-success">
    </div>
</form>

<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link-2" href="/profile">PROFILES</a></li>
    </ul>
</nav>

</body>
</html>