<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>FETTLE</title>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8">
        <h1  th:href="@{/styles.css}">FETTLE</h1>
    </head>
<body background="img/bg-masthead.jpg" class="container">
<header th:replace="fragments :: header"></header>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link-3" href="/login">LOGOUT</a></li>
    </ul>
</nav>
</body>
</html>