<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>FETTLE</title>

<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <h1  th:href="@{/styles.css}">FETTLE</h1>
</head>

<body background="/img/bg-signup.jpg" class="container">

<header th:replace="fragments :: header"></header>
<br>
<br>
<br>
<br>
<nav>
<table>
    <tr class="nav" th:each="profile : ${profiles}">
        <td class="nav-item">
            <a class="nav-link-2" href="/profile/tracker" th:text="${profile.profileFirst + profile.profileLast}"></a></td>
    </tr>
</table>
</nav>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link-3" href="/logout">LOGOUT</a></li>
    </ul>
</nav>
</body>
</html>
